<!-- This is a static file -->
<!-- served from your routes in server.js -->

<!-- You might want to try something fancier: -->
<!-- html/nunjucks docs: http://mozilla.github.io/nunjucks/ -->
<!-- jade: http://jade-lang.com/ -->
<!-- haml: http://haml.info/tutorial.html -->
<!-- hbs(handlebars): http://handlebarsjs.com/expressions.html -->

<!DOCTYPE html>
<html>
  <head>
    <title>Sketch Repeater</title>
    <meta name="description" content="A cool thing made with ML">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/public/index.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-2.2.1.min.js"
            integrity="sha256-gvQgAFzTH6trSrAWoH1iPo9Xc96QxSZ3feW6kem+O00="
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.5.11/p5.min.js"></script>

  </head>
  <body>
    <main>
      <div class="container">
        <div class="row" style="margin-top: 20px;">
          <div class="col-md-12 hidden">
            <div style="position: relative;display: inline-block;">
              <span id="boid_test_img"></span>
              <span id="boid_test_boid" class=""></span>
              <span id="boid_test_draw" class=""></span>
            </div>
          </div>
          <div class="col-md-12">
            <div class="col-md-4">
            </div>
            <div class="col-md-4" style="text-align: center;">
              <div class="main_canvas" style="position: relative">
                <div id="sketch_stored"></div>
                <div id="sketch_temp" class="overlay"></div>
                <div id="marks_record" class="overlay hidden"></div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="change_imgs">
                <div class="p0"></div>
                <div class="marks"></div>
                <div class="p1"></div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="ai_sketches">
              <div style="display: inline-block;position: relative;">
                <div>
                  <span id="sketch_ai0"></span>
                  <span id="sketch_ai0_overlay" class="overlay"></span>
                  <span id="sketch_ai0_debug" class="overlay"></span>
                </div>
                <div id="ai0_debug_mark" class="debug_mark"></div>
              </div>
              <div style="display: inline-block;position: relative;">
                <div>
                  <span id="sketch_ai1"></span>
                  <span id="sketch_ai1_overlay" class="overlay"></span>
                  <span id="sketch_ai1_debug" class="overlay"></span>
                </div>
                <div id="ai1_debug_mark" class="debug_mark"></div>
              </div>
              <div style="display: inline-block;position: relative;">
                <div>
                  <span id="sketch_ai2"></span>
                  <span id="sketch_ai2_overlay" class="overlay"></span>
                  <span id="sketch_ai2_debug" class="overlay"></span>
                </div>
                <div id="ai2_debug_mark" class="debug_mark"></div>
              </div>
              <div style="display: inline-block;position: relative;">
                <div>
                  <span id="sketch_ai3"></span>
                  <span id="sketch_ai3_overlay" class="overlay"></span>
                  <span id="sketch_ai3_debug" class="overlay"></span>
                </div>
                <div id="ai3_debug_mark" class="debug_mark"></div>
              </div>
              <div style="display: inline-block;position: relative;">
                <div>
                  <span id="sketch_ai4"></span>
                  <span id="sketch_ai4_overlay" class="overlay"></span>
                  <span id="sketch_ai4_debug" class="overlay"></span>
                </div>
                <div id="ai4_debug_mark" class="debug_mark"></div>
              </div>
            </div>
          </div>
        </div>
        <div class="row" style="margin-top: 20px;">
          <div id="mark_matches"></div>
        </div>
        <div class="hidden">
          <div id="mark_suggestions"></div>
          <div id="L1_matches">
            <span class="selection p0"></span>
            <span class="selection p1"></span>
          </div>
          <div id="L2_matches">
            <span class="selection p0"></span>
            <span class="selection p1"></span>
          </div>
            <div id="L3_matches">
              <span class="selection p0"></span>
              <span class="selection p1"></span>
            </div>
            <div id="L4_matches">
              <span class="selection p0"></span>
              <span class="selection p1"></span>
            </div>
            <div id="L5_matches">
              <span class="selection p0"></span>
              <span class="selection p1"></span>
            </div>
          </div>
        </div>
        <div class="hidden">
          <div id="sketch_allPurpose"></div>
          <div id="sketch_human_marks"></div>
          <div id="sketch_comp_marks"></div>
        </div>
      </div>
      <script src="/public/lineTracer.js"></script>
      <script src="/public/sketch.js"></script>
    </main>
  </body>
</html>
