body {
  background: #ababab !important;
  text-align: center;
}

.overlay {
  position: absolute;
  top: 0;
  opacity: 0.7;
}

.main_canvas .overlay {
  left: 50%;
  margin-left: -150px;
}

.ai_sketches .overlay {
  left: 0;
}

.selection_matches.overlay {
  left: 0;
  opacity: 1;
}

canvas {
  border: 1px solid #000;
}

img {
  margin: 4px;
  border: 1px solid #000 !important;
  width: 50px;
}

#matches img {
  transform: rotate(180deg);
}

.ai_sketches {
  zoom: 0.5;
}
.ai_sketches canvas {
  border: 2px solid #000;
  cursor: pointer;
  margin: 4px;
}

#transferStored {
  border: 1px solid #000;
  margin-left: 140px;
  margin-top: 4px;
  margin-bottom: 8px;
}
