body {
  background: #ababab !important;
  text-align: center;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 1;
  cursor: pointer;
}

.main_canvas .overlay {
  left: 50%;
  margin-left: -150px;
}

.ai_sketches .overlay {
  left: 0;
}

.selection_matches.overlay {
  left: 0;
  opacity: 1;
}

canvas {
  border: 1px solid #000;
}

.change_imgs img {
  margin: 4px;
  border: 1px solid #000 !important;
  max-width: 90px;
  max-height: 90px;
}

#matches img {
  transform: rotate(180deg);
}

.ai_sketches {
  zoom: 0.4;
}
.ai_sketches canvas {
  border: 2.5px solid #000;
  cursor: pointer;
  margin: 4px;
}

#transferStored {
  border: 1px solid #000;
  margin-left: 140px;
  margin-top: 4px;
  margin-bottom: 8px;
}

table.actionDebug {
  width: 100%;
}
table.actionDebug td {
  width: 16%;
}

.debug_mark img {
  width: 70px;
  border: 1px solid #000;
  margin: 10px;
  /*display: block;*/
}

#mark_matches img {
  margin: 10px;
  border: 1px solid #000;
}
